{%extends "layout.html"%}
{% block content %}
<div class="about_me">

!<DOCTYPE html>
    <html>
        <head>
            <title>About US</title>
            <h2>My name is Grant Sagovac. I was born February 4th 1996. </h2>
        </head>
        <body>
            <p>Hello and welcome to the about us page. As someone who cares deeply for the environment,
                 I decided I was no longer going to sit around. Join me on my adventure on picking up
            trash from the environment. My very first trash clean up trip I went to a Wildlife Management Area in South Florida called J.S. Corbett. I pick up over 100 lbs of garbage from the camp sites
        </p>






        </body>










    </html>
</div>
{%endblock%}