{%extends "layout.html"%}
{% block content %}

<div class="Land_Cruiser">
     <h2 style= font-size:50px; font color="blue"; >Land Cruiser #1 (1994 OBD1 Toyota)</h2>
     <p>On February 3rd 2021 I officially became the proud owner of a 1994 1fz-fe landcruiser with 330,000 miles from a gentleman near Nashville TN  </p>
     <p>Very early in the morning, I drove my 2015 Ford Fusion to my friends house. His name is Austin Pena. Approximately 4 A.M. I arrived at his house. We grabbed some snacks and water, 
          and embarked out on our journey. The drive there was very pleasant. Throughought the drive we were in contact with the seller. We were to meet him around 6 PM. We met the guy at
          the autozone. 
     <p>I remember the moment I first saw it, backed into the final parking spot the furthest away from the street. I remember being somewhat shocked because all though it was what i was
          expecting, it wasnt what I was expecting. I was incredibly anxoius as I wanted to see it so badly. When we arrived we approached it and upon further review, it was exactly what I was
          expecting for $5,000.

     <p>After I had completed the transaction</p>


     <p>The drive home was very intense, refuelling every 200 miles and checking the engine oil level. Although a lot of fun, it was kind of scary. As I was driving for hours on end,I could notice the engine leaking more oil, and I remember seeing oil on my my 2015 Ford Fusion.</p>
     
     <br>

<d/iv>

<div>













</div>
{%endblock%}